<%= link_to "See hoots!", hoots_path %>

<h5> Hello <%= current_user.username %> </h5>
<p> Here are the latest hoots </p>
<ul>
<% @following_hoots.each do |hoot| %>
  <li><span> <%=hoot.user.username %></span> <span><%= hoot.message %></span></li>
<% end %>
</ul>