<h1><%= @display_user.username %></h1>

<%= link_to "Follow", now_following_path(follow_user_id: @display_user.id) %>


<ul>
<% @display_user.hoots.each do |hoot| %>
  <li><%= hoot.message %></li>
<% end %>
<ul> 
