<h1><%= @display_user.username %></h1>

<% if !current_user.following.include?(@display_user.id.to_s) %>
	<%= link_to "Follow", now_following_path(follow_user_id: @display_user.id) %>
<% else %>
	<%= link_to	"Unfollow", unfollow_path(unfollow_user_id: @display_user.id) %>
<% end %>

<ul>
<% @display_user.hoots.each do |hoot| %>
  <li><%= hoot.message %></li>
<% end %>
<ul> 
